<div id="wrapper">
    <%= render "layouts/menu" %>

    <div id="content">
    <article>
        <hgroup>
        future features
        </hgroup>
        <dl>
            <dt>beautiful index page</dt>
            <dd>home page</dd>
            <dt>contact page</dt>
            <dd>site ower description page</dd>
            <dt>wiki</dt>
        </dl>
    </article>
    </div>
</div>
<!-- http://nirvdrum.com/ -->
