<div id="wrapper">
    <%= render "layouts/head" %>
    <%= render "layouts/menu" %>

    <div id="content">
        <h1>Insert New Book Info</h1>
        
        <%= render 'form' %>
        <%= link_to 'Back', books_path %>
    </div>
</div>