/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header {
    background-image:   url("header-background.png");
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}

#wrapper {
    position:relative;
    margin:0 auto;
    min-height:700px;
    width: 980px;
}

#header > header hgroup a {
    margin-left:    -20px;
    font-size: 2em;
}

#menu {
    #background-color:MintCream;
    background-image:   url("menu-background.png");
    min-height:700px;
    min-width: 200px;
    max-width:20%;
    float:right;
    text-align: center;
}

#content {
    float: left;
    background-color:White;
    width: 778px;
    display:   block;
    text-align:center;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

#form {
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
}

hgroup {
    padding-top: 30px;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(156, 162, 168);
}

ol, ul {
    list-style: none outside none;
    list-style-position: outside;
    display:inline;
}

li {
    #display:inline;   
}

tr {
    display:inline;   
}